#name-and-title {
  grid-area: name-and-title;
  align-items: center;
  justify-content: left;
  display: inline-block;
}
#name {
  font-size: 1.2em;
}
#contact-info {
  grid-area: contact-info;
  align-items: center;
  justify-content: left;
  display: flex;
}
#logo {
  grid-area: logo;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding-top: 30px;
}

#card {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: auto;
  grid-template-areas:
    "name-and-title name-and-title logo"
    "contact-info contact-info logo";
  height: 200px;
  border-radius: 25px;
  border: 3px black ridge;
  padding: 20px;
  background-color: rgb(32, 56, 122);
  color: rgb(212, 245, 245);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#logo img {
  max-width: 100px;
}

#logo-selector img {
  max-width: 40px;
  cursor: pointer;
}
.color-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-selector div {
  margin-right: 10px;
  border: 2px black solid;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.change-color {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

#black {
  background-color: black;
}
#blue {
  background-color: blue;
}
#red {
  background-color: red;
}
#white {
  background-color: white;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
